body {
    font-family: sans-serif;
}

.h-1{
   text-align: center;
   

   
}

.navigation{
    text-align: center;
    color: rgb(238, 10, 10);
}


.katalog{
   display: flex;
   justify-content: space-around;
   gap: 15px
}


.product{
  width: 450px;
}

h1{
 margin: 0px;
}

.product img{
      border-radius: 50%;
      border: 3px solid red
}

.reviews{
  text-align: center;
  padding: 0.50
  
}


.review{
  display: flex;
  align-items: center;
  width: 550px;
  gap: 15px;
  margin-top: 15px;
}



  .location{
    text-align: center
  }



.about{
  display: flex;
  aling-items: center;
}

.about img{
  height: 300px;
}


header{
  background-color: #505883;
}

main{
  background-color: #456A78;
  color: white;
  padding: 20px;
;
}
  

footer{
  background-color: #505883;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
 
}


.reviews{
  background-color: #6E8350;
}


.map{
  text-align: center;
}

.nav-link{
  color: red;
  text-decoration: none;
}

h4{
  margin-top: 0;

}


.nav-link:hover{
  font-size: 22px;
  border: 3px solid black;
  background: white;
  border-radius: 30px;
  padding: 3px
}


.price{
    font-size: 20px
}
