body {
  font-family: sans-serif;
  margin: 0;
}

.navigation{
  text-align: center;
  color: rgb(238, 10, 10);
  margin-bottom: 15px;
  font-size: 18px;
}


.katalog{
   display: flex;
   justify-content: space-around;
   gap: 15px
}


.product{
  width: 450px;
}

h1{
 margin: 0px;
 text-align: center;
}

.h-1{
  margin: 45px 0;
}

.product img{
      border-radius: 50%;
      border: 3px solid red
}

.reviews{
  background-color: #6E8350;
  padding: 25px 10%;
  text-align: center;
}

.review{
  display: flex;
  align-items: center;
  width: 550px;
  gap: 15px;
  margin-top: 15px;
  font-size: 20px;
}



.location{
  text-align: center
}



.about{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text{
  margin-right: 35px;
  font-size: 22px;
}

.about-text h1{
  text-align: left;
}

.about img{
  height: 300px;
}


header{
  background-color: #505883;
  padding: 35px 0;
}

main{
  background-color: #456A78;
  color: white;
  padding: 20px 0;
}
  

footer{
  background-color: #505883;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
 
}

.map{
  text-align: center;
}

.nav-link{
  color: red;
  text-decoration: none;
  margin: 0 5px;
}

h4{
  margin-top: 0;

}


.nav-link:hover{
  font-size: 22px;
  border: 3px solid black;
  background: white;
  border-radius: 30px;
  padding: 3px
}


.price{
    font-size: 20px
}